.navbar-expand-lg {
    height: 100px;
}

.container-fluid {
    background-color: orange;
    height: 100px;
}

.navbar-brand {
    top: 0;
}

.brand-icon {
    width: 80px;
}

.navbar-brand {
    color: white;
    left: 200px;
    position: relative; 
}

@media (max-width: 1504px) {
    .navbar-brand {
        left: 0;
    }
}

.nav-link {
    color: white;
    margin: 20px;
    font-size: 20px;
    margin-left: 100px;
}

.cartWidget-icon {
    margin: 6px;
}

/* cart Widget */

.cartWidget-container {
    position: relative;
    display: inline-block;
    left: 300px;
}

@media (max-width: 1504px) {
    .cartWidget-container {
        left: 70px;
    }
}

.bi-cart3 {
    width: 100px;
    font-size: 25px;
    color: white;
} 

.cartWidget-number {
    position: absolute;
    top: 0px;
    right: px;
    background-color: orange;
    color: white;
    border-radius: 100%;
    padding: 4px 8px;
    font-size: 12px;
}

.asd {
    display: flex;
    flex-wrap: wrap;
}

.dropdown-menu {
    margin-left: 35%; }
